
.principal{
  margin: 30px;
}

h3{
  top: 700px;
}

.principal_1{
  margin: 30px;
}

.uno{
  float: left;
  box-shadow: 10px 5px 5px black;
}

.tex_1{
  position: absolute;
  top: 240px;
  color:#fff;
  font-family: sans-serif;  
  left: 80px;
}

.dos{
  float: left;
  margin-left: 30px;
  box-shadow: 10px 5px 5px black;
}

.tex_2{
  position: absolute;
  top: 240px;
  color:#fff;
  font-family: sans-serif;
  left: 280px;
}

.tres{
  margin-left: 460px;
}

.tex_3{
  position: absolute;
  top: 240px;
  color: #fff;
  font-family: sans-serif;
  left: 540px;
}

.cuatro{
  float: left;
  box-shadow: 10px 5px 5px black;
}

.tex_4{
  position: absolute;
  top: 485px;
  color: #fff;
  font-family: sans-serif;
  left: 73px;
}

.cinco{
  float: left;
  margin-left: 26px;
  box-shadow: 10px 5px 5px black;
}

.tex_5{
  position: absolute;
  top: 485px;
  color: #000;
  font-family: sans-serif;
  left: 320px;
}
 
.seis{
  margin-left: 480px;
}

.tex_6{
  position: absolute;
  top: 485px;
  color: #000;
  font-family: sans-serif;
  left: 560px;
}
